ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
    margin-bottom: 5px;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.answers {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    bborder-top: 1px solid #e0e0e0;
}
ul.answers li.answer {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.answers li.answer:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.answers li.answer:hover {
    background-color: #f0f0f0;
}
div.answer-date {
    float: right;
}
div.answer-author {
    font-weight: bold;
}
div.answer-thumbnail {
    position: absolute;
}
div.answer-content {
    margin-left: 48px;
    min-height: 48px;
}
div.answer-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

ul.answers {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    bborder-top: 1px solid #e0e0e0;
}
ul.answers li.answer {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.answers li.answer:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.answers li.answer:hover {
    background-color: #f0f0f0;
}
div.answer-date {
    float: right;
}
div.answer-author {
    font-weight: bold;
}
div.answer-thumbnail {
    position: absolute;
}
div.answer-content {
    margin-left: 48px;
    min-height: 48px;
}
div.answer-form {
    margin: 16px 0px 16px 32px;
}