<h3 id="answers">Answers</h3>
<ul class="answers">
    {% for answer in answers %}
        <li class="answer">
                    <div class="answer-content">
                    <div class="answer-date">{{ moment(answer.timestamp).fromNow() }}</div>
                    <div class="answer-author">
                            <a href="{{ url_for('.user',nickname = answer.user.nickname) }}">{{ answer.user.nickname }}</a>
                    </div>
                    <div class="answer-body">{{ answer.body }}</div>
                    {% if current_user.confirmed %}
                        <h6><a href="{{ url_for('.vote',user_id = current_user.id, answer_id=answer.id) }}">Vote:</a> {{answer.users_votes.count()}}</h6>
                    {% else %}
                        <h6>Vote:{{answer.users_votes.count()}}</h6>
            {% endif %}
        </li>
    {% endfor %}
</ul>