<ul class="posts">
    {% for question in questions %}
        <li class="post">

                    <div class="post-content">
                    <div class="post-date">{{ moment(question.timestamp).fromNow() }}</div>
                    <div class="post-author">
                            <a href="{{ url_for('.user',nickname = question.user.nickname) }}">{{ question.user.nickname }}</a>
                    </div>
                    <div class="post-body">
                        <a href="{{ url_for('.question',id = question.id) }}">
                            {{ question.body }}
                        </a>
                    </div>
                    <h6>Answers: {{question.answers.count()}}</h6>
                    </div>

        </li>
    {% endfor %}
</ul>