{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Ask questions, get answers.</h1>
        </div>
        <div>
            {% if current_user.confirmed %}
                {{ wtf.quick_form(form) }}
            {% else %}
                <div class="alert alert-info" role="alert">
                    <h5>You must be logged in and confirmed you email to ask a question</h5>
                    <strong><a href="{{ url_for('login') }}">Sign in</a></strong> or <strong><a href="{{ url_for('register') }}">Sign up</a></strong>
                </div>
            {% endif %}
        </div>
        <br>
        <h3>Last Questions</h3>
        {% include '_questions.html' %}
    </div>
{% endblock %}