{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
        <p>
        New user?
            <a href="{{ url_for('register') }}">
                Click here to register
            </a>
        </p>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}