{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>Question</h1>
    </div>
    <ul class="posts">
        <li class="post">

                    <div class="post-content">
                        <div class="post-date">
                            {{ moment(question.timestamp).fromNow() }}
                        </div>
                        <div class="post-author">
                            <a href="{{ url_for('.user',nickname = question.user.nickname) }}">{{ question.user.nickname }}</a>
                        </div>
                        <div class="post-body">
                            <a href="{{ url_for('.question',id = question.id) }}">
                                {{ question.body }}
                            </a>
                        </div>
                        <h6>Answers: {{question.answers.count()}}</h6>
                    </div>

        </li>
    </ul>

    {% if current_user.confirmed %}
    <div class="answer-form">
        {{ wtf.quick_form(form) }}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <h5>You must be logged in and confirmed your email to answer the question</h5>
        <strong><a href="{{ url_for('login') }}">Sign in</a></strong> or <strong><a href="{{ url_for('register') }}">Sign up</a></strong>
    </div>
    {% endif %}

    {% include '_answers.html' %}
        </div>
    {% endblock %}