{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Profile: {{user.nickname}}</h1>
        </div>
        <h3>Questions</h3>
        {% include '_questions.html' %}
    </div>
{% endblock %}